# Ignore all Python cache files
__pycache__/
**/__pycache__/

# Ignore the environment variable file
.env

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore VSCode workspace settings
.vscode/

# Ignore virtual environment folders if any
venv/
env/
